@page "/realtime"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@rendermode RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HubConnection _hubConnection

<h3>Realtime Data</h3>
@foreach (var realTimeData in CurrentValuePerDevice)
{
    <p>@realTimeData.Key : @realTimeData.Value</p>
}
@if (!CurrentValuePerDevice.Any())
{
    <p>No real time data available :(</p>
}

@code {

    //private string Message { get; set; }
    private Dictionary<string, decimal> CurrentValuePerDevice { get; set; } = new Dictionary<string, decimal>();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection.On<string, string>("ReceiveMessage", (key, value) =>
        {
            InvokeAsync(async () =>
            {
                try
                {
                    //Message = value;
                    CurrentValuePerDevice.Add(key, Math.Round(Decimal.Parse(value), 3));
                    StateHasChanged();
                }
                catch (Exception ex)
                {
                    Console.WriteLine($"Error updating UI: {ex.Message}");
                }
            });
        });

        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection.State != HubConnectionState.Disconnected)
        {
            await _hubConnection.StopAsync();
        }
    }

}